/*================================================
Testimonial CSS
=================================================*/
.testimonial-area {
  // margin-top: rem(70px);
  @include padding(py, rem(70px));

  @include lg {
    @include padding(py, rem(140px));
  }

  @include lg {
    margin-top: 0;
  }

  #fixedWrapper {
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

  #scroll-container {
    width: 1900%;

    @include sm {
      width: 1030%;
    }

    @include md {
      width: 710%;
    }

    @include lg {
      width: 485%;
    }

    @include xl {
      width: 382%;
    }

    .max-width {
      max-width: 1140px;
      padding-right: rem(30px);
    }
  }
}
.swiper-button-next,
.swiper-button-prev {
  width: inherit;
  height: inherit;
  font-size: 20px;
  margin-top: inherit;
  &::after {
    display: none;
  }
}

.swiper-pagination {
  display: flex;
  align-items: center;
  width: auto;
}

.testimonial {
  @include lg {
    padding-top: rem(116px);
  }

  &-title {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: rem(60px);

    @include lg {
      width: 50%;
    }

    h2 {
      line-height: 1.2;
      font-weight: 700;
    }
  }

  &-wrapper {
    background: $white;
    @include radius(all, rem(30px));
    @include padding(p, rem(60px) rem(46px) rem(70px));
  }

  &-content {
    h3 {
      font-weight: 700;
      padding-bottom: rem(20px);
    }

    span {
      font-size: rem(22px);
      line-height: rem(36px);
      color: $black;
      margin-bottom: rem(20px);
      display: block;
    }

    p {
      font-size: rem(15px);
    }
  }

  &-review {
    position: relative;
    @include radius(all, rem(26px));
    max-width: rem(524px);
    background: $red-150;
    padding: rem(50px) rem(20px) rem(30px) rem(20px);
    margin-top: rem(50px);

    @include md {
      padding: rem(50px) rem(20px) rem(30px) rem(46px);
    }

    i {
      font-size: rem(32px);
      color: $red-700;
      @include absolute(top rem(-15px) left rem(45px));
    }

    p {
      font-style: italic;
      line-height: 36px;
      color: $black;

      @include md {
        font-size: rem(22px);
      }

      span {
        display: initial;
        font-weight: 600;
      }
    }
  }
}

.testimonial-author {
  display: flex;
  align-items: center;
  margin-top: rem(12px);

  .testimonial-author-image {
    img {
      @include size(rem(50px));
      @include radius(all, 50%);
      margin: auto;
      object-fit: cover;
    }
  }

  .testimonial-author-name {
    margin-left: rem(20px);

    h4 {
      font-family: $inter;
      font-weight: 400;
      font-size: rem(20px);
    }

    span {
      font-family: $inter;
      font-size: rem(12px);
      line-height: rem(20px);
      font-weight: 400;
      display: block;
      color: $black-550;
      margin-bottom: 0;
    }
  }
}

.testimonial-area-two {
  .testimonial-review {
    max-width: rem(838px);
    @include radius(all, rem(22px));
    border: rem(6px) solid $white;
    padding: rem(60px) rem(20px) rem(42px);
    background: $white;
    margin-top: 16px;

    @include lg {
      padding: rem(60px) rem(78px) rem(42px);
    }

    i {
      font-size: rem(48px);
      color: $black;
      @include absolute(top rem(-24px) left rem(78px));
    }
  }

  .testimonial-author {
    margin-top: rem(34px);
  }

  .swiper-slide-active {
    .testimonial-review {
      background: $red-150;

      i {
        color: $red-700;
      }
    }
  }
}

.testimonial-area-three {
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: rem(70px);

  .testimonial-review {
    max-width: rem(1140px);
  }
}

.testimonial-area-four {
  position: relative;
  z-index: 9;
  padding-bottom: 40px !important;
  .container-fluid {
    @include lg {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .section-title-center {
    padding-bottom: rem(15px);

    h2 {
      font-weight: 700;
    }
  }

  .testimonial-item {
    background: #ffffff;
    border-radius: rem(20px);

    @include md {
      display: flex;
    }

    @include lg {
      box-shadow: 0px 50px 80px rgba(53, 42, 67, 0.1);
      margin: auto;
      margin-bottom: 100px;
      margin-top: 50px;
    }

    @include lg {
      width: 960px;
    }
    @include xl {
      width: 1140px;
    }

    .testimonial-image {
      padding-top: rem(30px);

      @include md {
        width: 310px;
        height: auto;
        flex: 0 0 auto;
        padding-left: rem(20px);
      }

      img {
        @include size(rem(130px));
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;

        @include md {
          width: 100%;
          height: 100%;
          border-radius: 0;
        }
      }
    }

    .testimonial-right-content {
      padding: 40px 30px;

      @include xl {
        padding: rem(65px) rem(102px) rem(65px) rem(65px);
      }

      h3 {
        font-weight: 700;
      }

      .testimonial-meta-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: rem(35px);

        .testimonial-author-name {
          h4 {
            color: #45454d;
            font-size: rem(17px);
            line-height: 1;
          }

          span {
            font-size: 14px;
            color: #6c6c73;
          }
        }

        .testimonial-author-review {
          .client-review-icon {
            display: flex;

            li {
              color: #efba34;

              + li {
                margin-left: rem(5px);
              }
            }
          }
        }
      }

      .testimonial-content {
        position: relative;
        padding-top: rem(25px);

        p {
          color: $black-550;
          font-size: 17px;
          line-height: 1.6;
          font-style: italic;

          @include md {
            font-size: 22px;
          }
        }

        .testimonial-quote {
          @include absolute(bottom -30px right 0);
          font-size: 55px;
          color: rgba($black, 0.05);
        }
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(23, 23, 23, 0.1);
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    @include lg {
      top: calc(50% - 25px);
    }
    @include property;
    &::after {
      display: inline-block;
    }
    @include hover {
      box-shadow: 0px 5px 12px rgba(23, 23, 23, 0.1);
    }
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 0;

    @include lg {
      left: calc((100vw - 1040px) / 2);
    }
    @include xl {
      left: calc((100vw - 1220px) / 2);
    }
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 0;

    @include lg {
      right: calc((100vw - 1040px) / 2);
    }
    @include xl {
      right: calc((100vw - 1220px) / 2);
    }
  }

  .swiper-button-prev::after {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }

  .swiper-button-next::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 15px;
    font-weight: 700;
    color: $black-550;
    @include property;
  }

  .swiper-button-next:hover::after,
  .swiper-button-prev:hover::after {
    color: $red-700;
  }
}

.testimonial-area-five {
  padding: 150px 0;
  overflow: hidden;
  background-color: rgba(#f2c94c, 20%);
  position: relative;
  z-index: 1;
  .bg-shapes {
    .shape {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  .swiper-button-next,
  .swiper-button-prev,
  .swiper-pagination {
    position: inherit;
  }

  .slider-navigation {
    display: flex;
    align-items: center;
    margin-top: 150px;
    justify-content: center;
    margin-bottom: -7px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #bdbdbd;
    transition: all 0.3s ease-out;
    margin-top: 0;
    &:hover {
      color: #292b2c;
    }
  }

  .swiper-pagination-fraction {
    margin: 0 13px;
    span {
      font-family: $inter;
      font-size: 18px;
      font-weight: 400;
      line-height: 16px;
      color: #bdbdbd;
      margin: 0 2px;
    }
    .swiper-pagination-current {
      color: #292b2c;
    }
  }

  .slider-container {
    position: relative;
    height: 450px;
    .testimonial-slider-five {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      @include sm {
        width: calc(100% + (100vw -540px) / 2);
      }
      @include md {
        width: calc(100% + (100vw - 720px) / 2);
      }
      @include lg {
        width: calc(100% + (100vw - 960px) / 2);
      }
      @include xl {
        width: calc(100% + (100vw - 1170px) / 2);
      }
    }
  }
}

.testimonial-slider-five {
  .swiper-slide {
    opacity: 20%;
    transition: all 0.3s ease-out;
    &.swiper-slide-active {
      opacity: 100%;
    }
  }

  .single-testimonial {
    display: flex;
    align-items: center;
    width: 800px;
    img {
      border-radius: 6px;
      margin-right: 50px;
    }
    p {
      font-family: $inter;
      font-size: 22px;
      font-style: italic;
      font-weight: 400;
      line-height: 36px;
      text-align: justify;
      margin-bottom: 36px;
    }
    .author-info,
    span {
      color: #4f4f4f;
      font-family: $inter;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      margin-bottom: 0;
      span {
        font-weight: 400;
        display: inline-block;
      }
    }
  }
}

.testimonial-area-six {
  padding-top: 210px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  .bg-shape {
    .shape {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      &:nth-child(2) {
        top: 110px;
      }
    }
  }
  .slick-arrow {
    &:before {
      display: none;
    }

    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    opacity: 50%;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    z-index: 1;
    top: inherit;
    left: inherit;
    bottom: 110px;
    right: 53px;
    transition: all 0.3s ease-out;
    &:hover {
      opacity: 1;
    }
    &.slick-prev {
      right: 108px;
    }
  }
  .single-slide {
    padding: 0 53px 60px 60px;
    background-color: #353d80;
    border-radius: 30px;
    margin-top: 162px;

    .author-img {
      display: inline-block;
      position: relative;
      margin-top: -130px;

      &::before {
        position: absolute;
        content: "\7b";
        font-family: "ElegantIcons";
        line-height: 56px;
        height: 60px;
        width: 60px;
        background-color: #353d80;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        font-size: 26px;
        transform: translate(-50%, -50%) rotate(180deg);
        top: 0;
        left: 0;
      }
    }
    .main-img {
      border-radius: 30px;
      max-height: 551px;
    }
    p {
      font-size: 22px;
      font-style: italic;
      font-weight: 400;
      line-height: 36px;
      color: #fff;
      margin-top: 60px;
    }
    .author-info {
      margin-top: 62px;
      span {
        display: block;
        line-height: 20px;
        letter-spacing: 0.5px;
        font-family: $inter;
      }
      .name {
        font-size: 17px;
        font-weight: 700;
        color: #fff;
      }
      .pos {
        font-size: 14px;
        font-weight: 400;
        color: #ebebeb;
      }
    }
  }
}
