.outstanding-feature-area {
  text-align: center;
  img {
    margin: auto;
  }
  h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #4f4f4f;
    margin-top: 30px;
  }
  p {
    margin-top: 13px;
    font-family: $inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #70717b;
    max-width: 225px;
    margin: auto;
  }
}

.choose-plan-area {
  position: relative;
  z-index: 1;
  overflow: hidden;
  .bg-shapes {
    .shape {
      position: absolute;
      z-index: -1;

      &:nth-child(1) {
        bottom: 393px;
        left: 102px;
      }
      &:nth-child(2) {
        top: 284px;
        right: 71px;
      }
      &:nth-child(3) {
        top: 143px;
        left: 165px;
      }
      &:nth-child(4) {
        top: 0;
        left: 0;
      }
      &:nth-child(5) {
        height: 26px;
        width: 26px;
        background-color: rgba(#ffc107, 58%);
        top: 470px;
        right: 346px;
        border-radius: 50%;
        animation: zoomIn 5s linear infinite both alternate-reverse;
      }
      &:nth-child(6) {
        animation: zoomIn 5s linear infinite both alternate-reverse;
        height: 20px;
        width: 20px;
        background-color: #00c9a7;
        opacity: 10%;
        border-radius: 50%;
        top: 122px;
        right: 631px;
      }
      &:nth-child(4) {
        top: 0;
        left: 0;
      }
    }
  }
}
